@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

* { box-sizing: border-box; }

:root { 
  font-size: 50%;
}

body {
  font-family: 'Manrope', sans-serf;
  background-color: #ffffff;
  color: #000000;
}

.container {
  display: grid;
  padding: 3vh 10vw;
}

@media (max-width: 1024px) {
  .container {
    padding: 1vh 4vw;
  }
}


a:link {
  text-decoration: none;
  color: #000000;
  margin-left: 1.5rem;
}

a:visited {
  color: #000000;
}

.worklink, .one, .two, .three, .four, .five, .six {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big-card a, .card a {
  margin: 0px;
}

.worklink a:hover {
  border-bottom: none;
}

.work-text {
  padding: 18px 22px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

@media (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
}


.header h3 {
  font-weight: 600;
}

.header {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
  max-height: 100px;
  width: 50%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

@media (max-width: 768px) {
 .header ul {
   flex-direction: column;
   align-items: center;
 }
}

.header .menu {
  clear: both;
  max-height: 0px;
  transition: all .5s ease-out;
}

/* target area for menu */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.5rem 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* size of bars */

.header .menu-icon .navicon {
  background: #777;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 2.3rem;
}

/* construction of the bars */

.header .menu-icon .navicon:after,.header .menu-icon .navicon:before {
  background: #777;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* hides checkbox trigger */

.menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 100vh;
  padding: 200px 0;
  font-size: 3rem;
}

/* hides middle bar */  

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

/* impacts transition from bars to X */

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
  top: 0;
}

@media (min-width: 768px) {
.header li a {
  padding: 16px 16px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
  }
}

@media (max-width: 767px) {
  .card-image-large h3 {
    font-size: 20px;
    line-height: 28px;
  }
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

.twocol-grid, .threecol-grid  {
  display: grid;
  grid-gap: 24px 24px;
  grid-template-columns: 1fr;
}

p {
  font-size: 2rem;
  line-height: 3.25rem;
  font-weight: 400;
  margin-bottom: 80px;
}


.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.observations h3 {
  font-size: 4rem;
  margin-bottom: 5rem;
  font-weight: 500;
}


h5 {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #000000
}

@media (max-width: 767px) {
  h5 {
    font-size: 12px;
    line-height: 18px;
  }
}


img {
  width: 100%;
}


/* .test {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  margin: 1rem 0 2rem 0;
  width: 100%;
} */

.overview {
  padding: 60px 0 20px 0;
}

.overview img {
  width: 100%;

}

.overview h2, .overview h3 {
  font-size: 4rem;
}

.overview-intro {
  width: 100%;
}

.overview-intro p {
  width: 100%;
  font-size: 3rem;
  line-height: 1.6;
}

.overview-intro ul {
  list-style-type: none;
}

.overview-intro li {
  font-size: 16px;
}

.right h3 {
  font-size: 2.5rem;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 0 1rem 0;
  width: 100%;
}

.bottom-container h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.learnings h4{
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}
.learnings p {
  font-size: 2rem;
  line-height: 3.25rem;
}

.observations, .demo-pages {
  padding: 3rem 0;
}

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 32px;
  grid-template-areas:
  "one"
  "two"
  "three"
  "four"
  "five"
  "six";
}

@media (min-width: 768px) {
    .homepage-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr 1fr);
      grid-template-areas: 
      "one two"
      "three four"
      "five six";
  }
}


@media (min-width: 1025px) {
  .homepage-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "one one four"
      "one one five"
      "two three six";
  }
}


.image-test {
  background-image: url("../images/casestudy-hero.jpg");
  height: 500px;
}

  .one {
    grid-area: one;
    display: flex;
    flex-direction: column;
  }

  /* .one img {
    max-height: 200px;
  } */

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }
  
  .five {
    grid-area: five;
  }

  .six {
    grid-area: six;
  }


  .card-image {
    max-height: 440px;
    overflow: hidden;
  }

   .big-card one {
    max-height: 480px;
    overflow: hidden;
  }

  .card-image-large {
    max-height: 700px;
    overflow: hidden;
    transition: transform  ease-in-out 900ms;
  }

.card-image-large h3 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 10px;
  }

  @media (max-width: 1024px) {
  .card-image-large h3 {
    font-size: 20px;
    line-height: 28px;
    }
  }


  .card-image-large p {
    font-size: 16px;
    line-height: 26px;
  }

  @media (max-width: 1024px) {
    .card-image-large p {
      display: none;
    }
  }

  .card-image-large h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }


/* @media (max-width: 767px) {
  .big-card-one h3 {
    font-size: 20px;
    line-height: 28px;
  } */
    
  .big-card-one h5 {
    font-size: 12px;
    line-height: 18px;
  }
}


  .hero-image {
    max-height: 300px;
    overflow: hidden;
    transition: transform  ease-in-out 900ms;
  }
  
  .hero-image:hover {
    transform: scale(1.5,1.5);
  }

  .intro {
    font-size: 42px;
    font-weight: 600;
    line-height: 56px;
    margin: 100px auto 72px auto;
    width: 80%;
    text-align: center;
  }


  
  @media (max-width: 767px) {
    .intro {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
      width: 100%;
      margin: 40px auto;
    }
  } 
  

  .test {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 9rem;
    margin: 1rem 0 2rem 0;
    width: 100%;
  }

  .left {
    max-width: 725px;
  }

  
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
    margin: 1rem 0 2rem 0;
    width: 100%;
  }

  .results-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    margin: 1rem 0 2rem 0;
    width: 70%;
  }

  .results-three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
    margin: 1rem 0 2rem 0;
    width: 100%;
  }

  /* .overview-intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .overview-intro p {
    width: 80%;
    font-size: 3rem;
    line-height: 1.6;
  }
  
  .overview-intro ul {
    width: 40%;
    list-style-type: none;
  } */

  .casestudy-hero h2, .casestudy-overview h3 {
    font-size: 6rem;
  }

  .casestudy-hero {
    padding: 100px 0 40px 0;
  }

  .demo-pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .observations, .demo-pages {
    padding: 9rem 0;
  }


footer {
  min-height: 200px;
  width: 100%;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

footer li {
  font-size: 16px;
  padding: 0 20px 0px 0px;
  text-decoration: underline;
  /* text-underline-offset: 4px; */
}
  
}