@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

* { box-sizing: border-box; }

:root { 
  font-size: 50%;
}

body {
  font-family: 'Manrope', sans-serf;
  background-color: #ffffff;
  color: #000000;
}

.container {
  display: grid;
  padding: 0 10vw;
}

@media (max-width: 640px) {
  .container {
    padding: 0 4vw;
  }
}


nav {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  /* margin-top: -100px; */
}

footer {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul {
  padding-top: 100px;
  padding-bottom: 200px;
}

footer li {
  padding: 0 20px 0px 0px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu {
  text-align: center;
  line-height: 1.8;
  font-weight: 300;
  font-size: 10px;
}

a:link {
  text-decoration: none;
  color: #000000;
  margin-left: 1.5rem;
}

a:visited {
  color: #000000;
}

img {
  width: 100%;
}

/* new code */
/* 
.header ul {
    overflow: hidden;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: all .5s ease-out;
} */

/* target area for menu */

/* .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top: 3rem;
    padding: 1.5rem 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* size of bars */

/* .header .menu-icon .navicon {
    background: #777;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 2.3rem;
} */

/* construction of the bars */

/* .header .menu-icon .navicon:after,.header .menu-icon .navicon:before {
    background: #777;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
} */

/* hides checkbox trigger */

/* .header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 100vh;
    padding: 200px 0;
    font-size: 3rem;
} */

/* hides middle bar */  

/* .header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
} */

/* impacts transition from bars to X */

/* .header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
    top: 0;
} */

/* NEW 4-26 */

/* body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
} */

a {
  color: #000;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  border-right: 1px solid #fff;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
    background-color: #fff;

  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';  
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 50%;
}

.header .menu-icon .navicon:after {
  width: 75%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  background: #ff0000;
  transform: rotate(-45deg);
  width: 100%;

}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  background: #ff0000;
  transform: rotate(45deg);
  width: 100%;
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu-icon {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.hero {
  padding-top: 70px;
}


/* CASE STUDY PAGE */

/* Overview Section */

.overview {
    padding: 100px 0 24px 0;
  }

.overview-intro {
  width: 100%;
}

.background {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 9rem;
    margin: 16px 0 40px 0;
    width: 100%;
  }

@media (max-width: 640px) {
  .background {
    margin-bottom: 16px;
  }
}


@media (max-width: 1024px) {
  .background {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

.background-left {
    max-width: 725px;
  }

.content {
  margin-bottom: 80px;
}

@media (max-width: 640px) {
  .content {
  margin-bottom: 40px;
  }
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.overview h2 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 3rem;
  }

@media (max-width: 640px) {
  .overview h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

.overview h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 3rem;
  }

@media (max-width: 640px) {
  .overview h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

  .title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .description {
    margin-bottom: 2rem;
  }
  

/* OBSERVATIONS SECTION */

.section-image {
    margin-bottom: 3rem;
    border-radius: 16px;
}

@media (max-width: 1024px) {
  .learnings {
    margin-bottom: 16px;
  }
}

.results-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    margin: 1rem 0 1rem 0;
    width: 70%;
  }

.results-three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
    margin: 24px 0 0 0;
    width: 100%;
  }

@media (max-width: 1024px) {
  .results-three-col {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .results-three-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}

@media (max-width: 1024px) {
  .results .results-three-col {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 640px) {
  .results .results-three-col {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}
  
}