@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

* { box-sizing: border-box; }

:root { 
  font-size: 50%;
}

body {
  font-family: 'Manrope', sans-serf;
  background-color: #ffffff;
  color: #000000;
}

h2 {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 3rem;
}

@media (max-width: 640px) {
  .overview h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

/* h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 8px;
} */

h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 8px;
}

/* @media (max-width: 640px) {
  h3 {
    font-size: 18px;
    line-height: 28px;
  }
} */

/* h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
} */

/* @media (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
} */

@media (min-width: 1025px) {
  .big-card-text h3 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

/* @media (max-width: 1024px) {
.big-card-text h3 {
  font-size: 20px;
  line-height: 28px;
  }
} */

@media (max-width: 1024px) {
  .big-card-text p {
    display: none;
  }
}

.overview h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 3rem;
}

@media (max-width: 640px) {
  .overview h3 {
    font-size: 20px;
    line-height: 26px;
  }
}

.content h3 {
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 640px) {
  .content h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

h4 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 4px;
}

h5 {
  font-size: 12px;
  line-height: 19px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: #000000
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.title {
  font-weight: 600;
}

.image-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .image-title {
    font-size: 16px;
    line-height: 26px;
  }
}

.nav-wrap {
  border-bottom: 1px solid #000000;
}

@media (min-width: 769px) {
  .nav-wrap {
    border-bottom: none;
  }
}

.border-desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #000000;
}

@media (max-width: 768px) {
  .border-desktop {
    border-bottom: none;
  }
}

.container {
  display: grid;
  padding: 3vh 10vw;
}


.header {
  display: grid;
  padding: 2vh 10vw;
}

@media (max-width: 1024px) {
  .header {
    padding: 1vh 4vw;
  }
}


.container {
  display: grid;
  padding: 3vh 10vw;
}

@media (max-width: 1024px) {
  .container {
    padding: 1vh 4vw;
  }
}

a:link {
  text-decoration: none;
  color: #000000;
  margin-left: 1.5rem;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #0554FF;
  /* text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition: text-decoration-color 1s; */
}

a:hover .big-card-text p {
  color: #000000;
}

footer a:hover {
  text-decoration: none;
  color: #0554FF;
}

.border-desktop a {
  margin-left: 0;
}

/* Home Page Begin */
.intro {
  font-size: 42px;
  font-weight: 600;
  line-height: 56px;
  margin: 56px auto 56px auto;
  width: 80%;
  text-align: center;
}

@media (max-width: 767px) {
  .intro {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    width: 100%;
    margin: 40px auto;
  }
} 

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 32px;
  grid-template-areas:
  "one"
  "two"
  "three"
  "four"
  "five"
  "six";
}

@media (min-width: 768px) {
    .homepage-grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
      "one two"
      "three four"
      "five six";
  }
}

@media (min-width: 1025px) {
  .homepage-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "one one two"
      "one one three"
      "four five six";
  }
}


.big-card one {
  max-height: 480px;
  overflow: hidden;
}

.zoom-effect-container {
  max-height: 700px;
  overflow: hidden;
}

.zoom-effect-container:hover .card-image-large img {
  transform: scale(1.4);
}

@media (max-width: 767px) {
  .card-image-large h3 {
    font-size: 20px;
    line-height: 28px;
  }
}

.card-image-large h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.card-image-large img {
  transition: 0.6s ease-in-out;
}


img {
  width: 100%;
}

.overview img {
  width: 100%;
}

.card-image img {
  transition: 0.6s ease-in-out;
}

.card-image:hover .image-card img{
  transform: scale(1.4);
}

.card-image-large img {
  transition: 0.6s ease-in-out;
}

.big-card-text {
  padding: 18px 22px;
}

.big-card-text h3 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .big-card-text h3 {
    font-size: 20px;
    line-height: 28px;
    }
  }

  @media (max-width: 1024px) {
    .big-card-text p {
      display: none;
    }
  }

  .worklink, .one, .two, .three, .four, .five, .six {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .one {
    grid-area: one;
    display: flex;
    flex-direction: column;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }
  
  .five {
    grid-area: five;
  }

  .six {
    grid-area: six;
  }

  .card-image {
    max-height: 440px;
    overflow: hidden;
  }

  .big-card one {
    max-height: 480px;
    overflow: hidden;
  }

  .hero-image {
    max-height: 300px;
    overflow: hidden;
    transition: transform ease-in-out 1.2s;
  }
  
  .hero-image:hover {
    transform: scale(1.4);
  }
  

/* Home Page End */


.worklink, .one, .two, .three, .four, .five, .six {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big-card a, .card a {
  margin: 0px;
}

.worklink a:hover {
  border-bottom: none;
}

.work-text {
  padding: 18px 22px;
}

.big-card-text {
  padding: 18px 22px;
}

/* menu */

.header h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.header {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: right;
  line-height: 1.8;
  font-weight: 600;
  font-size: 16px;
  max-height: 100px;
  width: 50%;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    background-color: #fff;
    margin-left: -4vw;
    width: 100%;
  }
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

@media (max-width: 768px) {
 .header ul {
   flex-direction: column;
   align-items: center;
 }
}

.header .menu {
  clear: both;
  max-height: 0px;
  transition: all .5s ease-out;
}

/* target area for menu */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.5rem 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* size of bars */

.header .menu-icon .navicon {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 2.3rem;
}

/* construction of the bars */

.header .menu-icon .navicon:after,.header .menu-icon .navicon:before {
  background: #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* hides checkbox trigger */

.menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 100vh;
  padding: 200px 0;
  font-size: 3rem;
}

/* hides middle bar */  

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

/* impacts transition from bars to X */

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
  top: 0;
}

@media (min-width: 769px) {
.header li a {
  padding: 16px 0px 16px 20px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
  }
}

/* Footer begins */
footer {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer ul {
  padding-top: 100px;
  padding-bottom: 200px;
}

footer li {
  padding: 0 20px 0px 0px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

footer li {
  font-size: 16px;
  padding: 0 20px 0px 0px;
  text-decoration: underline;
}


img {
  width: 100%;
}


/* CASE STUDY PAGE */

/* Overview Section */

.overview {
    padding: 48px 0 24px 0;
  }

.overview-intro {
  width: 100%;
}

.background {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 9rem;
    margin: 16px 0 40px 0;
    width: 100%;
  }

  .about-background {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
    margin: 16px 0 40px 0;
    width: 100%;
  }

  @media (max-width: 1025px) {
    .about-background {
      grid-template-columns: 1fr;
      margin-bottom: 0px;
    }
  }

@media (max-width: 640px) {
  .background {
    margin-bottom: 16px;
  }
}

@media (max-width: 1024px) {
  .background {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1025px) {
  .background-left {
    max-width: 725px;
  }
}


.content {
  margin-bottom: 80px;
}

@media (max-width: 640px) {
  .content {
  margin-bottom: 40px;
  }
}

.header {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

  .title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .description {
    margin-bottom: 2rem;
  }
  

/* OBSERVATIONS SECTION */

.section-image {
    margin-bottom: 48px;
    border-radius: 16px;
}

.section-image-no-radius {
  /* margin-bottom: 80px; */
  box-shadow: 0 0 24px rgba(0 0 0 / 15%);   
}

.mockup-mobile-desktop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
    margin-bottom: 64px;
}

@media (min-width: 641px) {
  .mockup-mobile-desktop {
    display: grid;
    grid-template-columns: minmax(200px, 25%) 1fr;
    gap: 80px;
    margin-bottom: 80px;
  }
}



@media (max-width: 1024px) {
  .learnings {
    margin-bottom: 16px;
  }
}

.results-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
    margin: 24px 0 0 0;
    width: 70%;
  }

@media (max-width: 1024px) {
    .results-two-col {
      grid-template-columns: 1fr;
      grid-gap: 8px;
      margin-top: 20px;
      width: 100%
    }
}



.results-three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
    margin: 24px 0 0 0;
    width: 100%;
  }

@media (max-width: 1024px) {
  .results-three-col {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .results-three-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}

@media (max-width: 1024px) {
  .results .results-three-col {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

@media (max-width: 640px) {
  .results .results-three-col {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
}

.observations-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .observations-two-col {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin-top: 20px;
  }
}

.about-content {
  max-width: 675px;
}

.about-content p {
  margin-bottom: 16px;
}

.research h3 {
  margin-bottom: 32px;
}

.research p {
  margin-bottom: 16px;
}

@media (min-width: 1025px) {
  .research p {
    max-width: 60%;
  }
}

.research ul {
  font-size: 16px;
  line-height: 24px;
  list-style: inside;
  list-style-type: disc;
  margin: 24px 0px;
}

@media (min-width: 1025px) {
  .research ul {
    max-width: 60%;
  }
}

.research li {
  margin-bottom: 8px;
}